<div class="faceBook">
    <p style="font-size: 30px;color: blue;">Connect With Me</p>
    <div>
        <a href="https://www.facebook.com/Chandan1177" target="_blank"> <i
                class="fa fa-facebook micon myHeader2"></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/chandanbhindwar" target="_blank"> <i
                class="fa fa-twitter micon"></i></a>&nbsp;&nbsp;&nbsp;
        <a  href="https://www.instagram.com/chandankumarbhindwar" target="_blank"> <i
                class="fa fa-instagram micon myHeader"></i></a>
    </div>
</div><br>

<div class="footer">
    <p>Copyright © 2020 Chandan Kumar Bhindwar</p>
</div>