<div class="row" style="padding-top: 5px;">
    <div class="col-sm-5">
        <img style="width: 100%;" src="assets/image/about.jpg" class="rounded" alt="Cinque Terre">
    </div>
    <div class="col-sm-7">
        <div class="row myHeader" style="padding: 0px 20px;">
            <span style="font-size: 40px;"><i><b>About Me</b></i></span>
        </div>
        <div class="row" style="padding: 0px 20px;">
            <span style="font-size: 20px;">
                Softwere Developer
            </span>
            <span>I am an angular/web api developer proficient in Angular 4/10+, TypeScript, RxJs, Azure (App Service),
                Google Cloud (Firebase), Plex Onyx Service, Bootstrap, NPM, YARN, Atlassian BitBucket, Git, JavaScript,
                C#, ASP.NET Web API, ASP .NET Core Web Api, Entity Framework 6.0, Entity Framework Core , Sql Server,
                SignalR, Node Js and Mongo db. </span>
        </div>
        <div class="row" style="padding: 10px 20px;">
            <span style="font-size: 20px;">
                Intraday Trader
            </span>
            <span>I am an intraday trader. This is my part-time job. I always gain knowledge in this field. Intraday
                trading involves buying and selling stocks within the same trading day. Here stocks are purchased, not
                to invest, but to earn profits by harnessing the movement of stock indices. ... As the orders are
                squared off before the end of the trading day, it is also called as Intraday Trading. I enjoy doing
                that. </span>
        </div>
        <div class="row" style="padding: 10px 20px;">
            <span style="font-size: 20px;">
                Teacher
            </span>
            <span>I am a Teacher. Teaching is not a profession, it is also our moral duty that we should make at least
                one like
                ourselves. With this, the order of creation remains, and continues even further. Therefore, I keep
                giving whatever I have learned to the society. Currently I run a class of online advanced software which
                is absolutely free of cost. I respect my Guru and do Pranam. </span>
        </div>
        <div class="row" style="padding: 10px 20px;">
            <span style="font-size: 20px;">
                Social Worker
            </span>
            <span>I am a social worker. If there is any gardener of this earthly garden, then he is a social worker. He does
                the work of composting and watering it. At present, Bal Samskarashala is running in our village, in which
                free of cost is being taught. A system of senior citizen protection has been created under which the basic
                needs of every senior elder of the village are taken into consideration. I am also one of the members of
                these works. I feel proud for this task and I enjoy doing this work.</span>
        </div>

    </div>
  
    <div class="row" style="margin: 20px;">
        <span style="font-size: 20px;">
            Gayatri Sadhak
        </span>
        <span>
            <span style="color: red;">'ॐ भूर्भुवः स्वः तत्सवितुर्वरेण्यं भर्गो देवस्य धीमहि धियो यो नः
                प्रचोदयात्।'</span><br>I am a Gayatri
            Sadhak. I benefited a lot from Gayatri Sadhana. If I have contributed anything to my
            four-pronged development, it is Gayatri Sadhana. Gayatri Sadhana always keeps us ready for every situation.
            And today in this dazzling world, it is also necessary for everyone to live properly.</span>
    </div>
</div>