<div class="row" style="padding-top: 5px;">
    <div class="col-sm-4">
        <img style="width: 100%;"
            src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.0-9/70263014_2019594171475637_8328683903321636864_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=QvqVBWqDYFcAX_NbzgJ&_nc_ht=scontent.fdel24-1.fna&oh=b933ea5194db91f082ce88ca56253ba0&oe=5F6AB1FE"
            class="rounded-circle" alt="Cinque Terre">
    </div>
    <div class="col-sm-8">
        <div id="nameBlock">
            Chandan Kumar Bhindwar
        </div>
        <div class="row" style="padding: 0px 20px;">
            <span style="font-size: 40px;"><i><b>Programming And Designing Inspires Me......</b></i></span><br>
            <span style="font-size: 27px;">“No matter how much experience you have, how many degrees you have, or how
                well known you have become
                — there is always something new to learn. Don’t rest on your past experiences. If you do nothing to
                improve your skills, you won’t stay where you are.” <br><b>- Laura Spencer</b></span>
        </div>
    </div>
</div>